<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="30adcbe4-3d33-4e82-8c72-03b3f6793cda" Publisher="CN=bdewey01" Version="1.0.0.0" />
  <Properties>
    <DisplayName>NycCodeCamp.MetroApp</DisplayName>
    <PublisherDisplayName>bdewey01</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>NycCodeCamp.MetroApp</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="nyccodecamp.metroapp.exe" EntryPoint="NycCodeCamp.MetroApp.App">
      <VisualElements DisplayName="NycCodeCamp.MetroApp" Logo="Images\Logo.png" SmallLogo="Images\SmallLogo.png" Description="NycCodeCamp.MetroApp" ForegroundText="light" BackgroundColor="#000000" InitialRotationPreference="portrait">
        <SplashScreen Image="Images\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>